<div class="container">

  <h1 class="text-gray3">My Communities</h1>

  <% @memberships.each do |membership| %>
  <p class="text-gray3"> <%= membership.community.name  %> </p>
  <%= link_to 'Leave Community', user_membership_path(current_user.id, membership.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-lg btn-danger" %>

  <%end  %>
</div>
