// Define variables for your color scheme

// For example:

$blue: #0D6EFD;
$yellow: #FFC65A;


// Grays:
$black: #000000;
$gray1: #484848;
$gray2: #797979;
$gray3: #A9A9A9;
$gray4: #D9D9D9;

$white: #FFFFFF;

// primary:
$primary1: #129575;
$primary2: #71B1A1;
$primary3: #AFD3CA;
$primary4: #DBEBE7;
$primary5: #F6FAF9;

// secondary:
$secondary1: #FF9C00;

// warning:
$red: #FD1015;

// success:
$green: #31B057;
