.bold {
  font-weight: 600!important;
}

.title {
  font-size: 50px;
  line-height: 60px;
  font-weight: 400;
}

.header {

  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
}

.large {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

.medium {
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
}

.normal {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.small {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.smaller {
  font-size: 11px;
  line-height: 17px;
  font-weight: 400;
}
