.navbar {
  background-color: #D9F8C4;
z-index: 2;
}

.sign-in-button {
  background-color: $primary;
  color: rgba(220, 220, 220, 1);
  font-weight: 400;
  border-radius: 15%;
}

.sign-in-button:hover{
  background-color: #4838383f;
  color: rgba(220, 220, 220, 1);
}
