<h1>here are your favouritrs</h1>
<% @favourites.each do |favourite| %>
<p style="color:black"> FAV ID IS <%= favourite.id %>  user id is <%= favourite.user_id %> recipe id is <%= favourite.recipe_id %></p>

<% end %>
