<div class="container--landing">

    <div class="section--1">

      <div class="logo-image">
      </div>
      <div class="catch-frase">
        <h3>
          Cooking, another thing of your mind
        </h3>
      </div>

      <div class="button--join">

        <%= link_to "Browse", recipes_path, class: "btn btn-primary" %>
      </div>





    </div>



</div>
