<div class="container--landing">

    <div class="section--1">

      <div class="logo-image">
      </div>
      <div class="catch-frase">
        <% if user_signed_in? %>
        <h3>Welcome back, <%= current_user.fullname %>!</h3>
        <% else %>
          <h3>
            Cooking, another thing of your mind
          </h3>
        <%end  %>
      </div>

      <div class="button--join">

        <%= link_to "Browse", recipes_path, class: "btn btn-primary" %>
      </div>





    </div>



</div>
