<div class="container sign-in m-5">
  <%= simple_form_for [ @recipe, @review ] do |f| %>
    <%= f.input :content, input_html: { class: "gray-border-rounded"} %>
    <%= f.input :rating, input_html: { class: "gray-border-rounded"} %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>
</div>
