<h1>Communitites</h1>

<div class="community--container">
 <% @communities.each  do |community|  %>
  <div class="community--card">
    <div class="community--card__body">
      <h4><%=  community.name %></h4>
      <p><%= community.description  %></p>
    </div>

  </div>
  <% end%>







</div>
