<div class="container">
  <h1>Communities</h1>
  <div class="community--container">

  <% @communities.each  do |community|  %>
    <div class="community--card">
      <div class="community--card_header">
        <%= cl_image_tag community.photo.key, height: 300, width: 400, crop: :fill %>
      </div>
      <div class="community--card__body">
        <h4><%=  community.name %></h4>
        <p><%= community.description.truncate(70)  %></p>
      </div>
      <div class="community--card__footer">
        <%= button_to 'Join',  community_memberships_path(community), method: :post , class:"btn btn-primary" %>
      </div>

    </div>
    <% end%>
  </div>
</div>
